@use 'sass:color';

// Farben
$color-primary: #2ecc71;
$color-secondary: #fff7df;
$color-warning: #E9D502;
$color-danger: #e81414;
$color-text: black;
$color-text-bright: white;
$color-gradient-inner:transparent;
$color-gradient-outer:$color-primary;
$color-gradient-outer-dark: color.adjust($color-gradient-outer, $lightness:-6%);
$color-gradient-outer-darker: rgb(15, 15, 15);
$color-button-selected: color.adjust($color-gradient-outer, $lightness:-20%);
$color-gradient-danger-outer:$color-danger;
$color-gradient-danger-outer-dark:rgb(179, 40, 40);
$color-gradient-danger-outer-darker:rgb(13, 7, 7);
$color-transition-outer:$color-primary;
$color-transition-outer-dark: color.adjust($color-transition-outer, $lightness:-6%);
$color-transition-outer-darker: color.adjust($color-transition-outer, $lightness:-12%);
$color-background:#f5f4f2;

$color-background-half-transparent:rgb(209,209,209, 0.5);
$width-gradient-transition-horizontal:6px;
$width-gradient-transition-vertical:15px;
// Layout
$spacing-base: 8px;
$font-base: 16px;
$border-radius-normal:28px;
$top-header-height:80px;