@use 'variables' as *;
@use 'mixins';
@use 'sass:color';

body, input{
    color:$color-text;
    font-family: 'Lora', serif;
    font-size: 16px;
    }

.main-wrapper-fullscreen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.background-image{
   background-repeat: no-repeat, no-repeat !important;
   background-size: cover !important;
   background-position: center !important;
   }

.content-wrapper{
    background-color:transparent;
    min-width:720px;
    max-width:960px;
}

.leg-flex-container{
    width:100%;
    display:flex;
    justify-content:center;
    flex-flow:column;
    }

.leg-flex-row{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    flex-flow:row;
    }

.leg-flex-row > p {
    text-align:center
    }

.leg-rounded-container-outer{
    min-height: 42px;
    flex-grow:1;
    display:flex;
    align-content:center;
    flex-direction:column;
    box-shadow:4px 2px black;
    }


.leg-rounded-container-inner{
    display:flex;
    align-content: center;
    align-items:center;
    flex-grow:1;
    margin-left:10%;
    margin-right:10%;
    }

.leg-rounded-border{
    border : 1px solid black;
    border-radius : 12px;
}

.leg-gradient{
    background-image:radial-gradient($color-gradient-inner 0%,$color-gradient-inner 60%, $color-gradient-outer 68% , $color-gradient-outer-dark 70% , $color-gradient-outer-darker 100%);
   }

.leg-gradient-danger{
    background-image:radial-gradient($color-gradient-inner 0%,$color-gradient-inner 60%, $color-gradient-danger-outer 68% , $color-gradient-danger-outer-dark 70% , $color-gradient-danger-outer-darker 100%);
   }

.leg-rounded-border-input{
    border:none;
    background:transparent;
    flex : 1 1 auto;
}

.leg-rounded-border-input:hover{
    border:1.5px solid black;
    }

.leg-rounded-border-label{
    flex : 0 0 auto;
}

.leg-transition{
    transition:.3s cubic-bezier(0,.5,.5,1);
    }

.leg-transition:hover{
    scale:1.05;
    background-image:linear-gradient(2deg, $color-transition-outer-darker 14%, $color-transition-outer-dark 30%, $color-transition-outer 50%, $color-transition-outer 100%);
    background-color:transparent;
    border:2px solid black;
    }

.leg-button-wrapper{
    background-color:$color-gradient-outer;
    width:25%;
    flex-grow:0;
    }

.leg-button-wrapper > input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    }

.leg-link{
    text-decoration:none;
    color:$color-text;
    text-align:center;
    width:100%;
    margin-bottom:auto;
    margin-top:auto;
    }

.leg-rounded-center-text{
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    }

.leg-progress-bar {
  position: relative;
  width: 250px;
  height: 25px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  font-family: sans-serif;
  user-select: none;
}

.leg-progress-fill-health {
  height: 100%;
  background-color: red;
  transition: width 0.3s ease;
}

.leg-progress-fill-energy {
  height: 100%;
  background-color: yellow;
  transition: width 0.3s ease;
}

.leg-progress-fill-stamina {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease;
}

.leg-progress-fill-mana {
  height: 100%;
  background-color: blue;
  transition: width 0.3s ease;
}

.leg-progress-fill-rage {
  height: 100%;
  background-color: darkred;
  transition: width 0.3s ease;
}

input, select, textarea {
  &:-webkit-autofill, {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $color-text;
    transition: background-color 5000s ease-in-out 0s;
  }
}

input, select, textarea {
  &:-moz-autofill, {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $color-text;
    transition: background-color 5000s ease-in-out 0s;
  }
}



.leg-center-text{
    text-align: center;
    }

.leg-text-danger{
    color: $color-danger;
    }