@use 'variables' as *;
@use 'mixins';
@use 'sass:color';

body, input{
    color:$color-text;
    font-family: 'Lora', serif;
    font-size: 17px;
    margin:00px;
    padding:00px;
    }


.main-wrapper-fullscreen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: round;
    flex-direction:column;
}

.background-image{
   background-repeat: no-repeat, no-repeat !important;
   background-size: cover !important;
   background-position: center !important;
   }

.content-wrapper{
    background-color:transparent;
    min-width:720px;
    max-width:960px;
    width:100%;
    margin:1%;
}

.content-wrapper-wide{
    background-color:transparent;
    min-width:1200px;
    max-width:1600px;
    width:100%;
    margin:1%;
    }

.leg-svg{
    height:100%;
    width:100%;
    }

.leg-flex-container{
    width:100%;
    display:flex;
    justify-content:center;
    flex-flow:column;
    }

.leg-flex-row{
    width:100%;
    display:flex;
    flex-flow:row;
    }

.leg-flex-row > p {
    text-align:center
    }

.leg-flex-column{
    width:100%;
    display:flex;
    flex-flow:column;
    }

.leg-h100{
    height:100% !important;
    }

.leg-rounded-container-outer{
    min-height: 42px;
    flex-grow:1;
    display:flex;
    align-content:center;
    flex-direction:column;
    box-shadow:1px 1px black;
    }

.leg-title-container{
    border-radius:$border-radius-normal;
    border-bottom-right-radius:0px;
    display:flex;
    color:white;
    }

.leg-title-container-image{
    width: 50px;
    height : 50px;
    border-radius:$border-radius-normal;
    border-bottom-left-radius:0px;
    }

.leg-header{
    border: 1px solid black;
    background: rgb(209,209,209, 0.5);
    border-top: none;
    border-radius: 0px 0px $border-radius-normal $border-radius-normal;
    box-shadow:1px 1px black;
    height: $top-header-height;
    width: 60%;
    margin: auto;
    }

.leg-fancy-arrow-link{
    text-decoration:none;
    }

.leg-fancy-arrow-link-text{
    color:black;
    z-index:1;
    white-space:nowrap;
    }

.leg-fancy-arrow-link-container{
    position:relative;
    display:inline-flex;
    align-items: center;
    justify-content:center;
    }

.leg-fancy-border{
    height:100%;
    width:100%;
    position:absolute;
    inset:0;
    pointer-events:none;
    }

.leg-fancy-arrow-right{
    width:35px;
    height:32px;
    transform:scale(-1,1)
    }

.leg-fancy-arrow-left{
    width:35px;
    height:32px;
    }

.leg-fancy-arrow-primary{
    fill: rgb(255, 255, 255, 0);
    }

.leg-fancy-arrow-secondary{
    fill: rgb(255, 255, 255, 0);
    }

.leg-fancy-arrow-diamond{
    fill: rgb(255,255 ,255, 0);
    }

.leg-title-container > p{
    font-size:32px;
    font-family:"Great Vibes";
    margin: auto;
    }

.leg-rounded-container-inner{
    display:flex;
    align-content: center;
    align-items:center;
    flex-grow:1;
    margin-left:10%;
    margin-right:10%;
    }

.leg-rounded-border{
    border : 1px solid black;
    border-radius : 12px;
}

.leg-carousel{
    }

.leg-carousel-item{
    display:none;
    }

.leg-carousel-item.active{
    display:block;

    }

.leg-effekt-positive{
    color:green;
    }

.leg-effekt-negative{
    color:red;
    }

.leg-item{
    display:flex;
    align-content:center;
    flex-direction:column;
    padding: 0px 5px;
    }

.leg-item-half{
    min-width: 46%;
    max-width: 50%;
    height: 200px;
    padding: 14px;
    }

.leg-box{
    background:rgba(209, 209, 209, 0.5);
    box-shadow:1px 1px black;
    border:1px solid black;
    border-radius: $border-radius-normal;
    }

.leg-gradient{
    background-image:radial-gradient($color-gradient-inner 0%,$color-gradient-inner 60%, $color-gradient-outer 68% , $color-gradient-outer-dark 70% , $color-gradient-outer-darker 100%);
    background-color: rgb(237, 227, 140);
    color: black;
   }

.leg-gradient-danger{
    background-image:radial-gradient($color-gradient-inner 0%,$color-gradient-inner 60%, $color-gradient-danger-outer 68% , $color-gradient-danger-outer-dark 70% , $color-gradient-danger-outer-darker 100%);
   }

.leg-rounded-border-input{
    border:none;
    background:transparent;
    flex : 1 1 auto;
}

.leg-rounded-border-input:hover{
    border:1px solid black;
    }

.leg-rounded-border-label{
    flex : 0 0 auto;
}

.leg-transition{
    transition:.3s cubic-bezier(0,.5,.5,1);
    }

.leg-sidebar{
    background:$color-background-half-transparent;
    display:flex;
    flex: 1 1 auto;
    flex-direction:column;
    border:1px solid black;
    border-left:none;
    height:70%;
    padding: 10px 4px;
    margin: auto;
    box-shadow:1px 1px black;
    border-radius:0px $border-radius-normal $border-radius-normal 0px;
    color:white;
    }

.leg-sidebar-size{
    width:190px;
    height:$top-header-height;
    }

.leg-flex-wrap{
    flex-wrap:wrap;
    }

.leg-align-flex-start{
    align-content: flex-start;
    }

.leg-footer{
    display:flex;
    min-height:40px;
    width:100%;
    border-top:0px;
    padding:10px 4px;
    }

.leg-content{
    flex: 1 1 auto;
    display:flex;
    border:1px solid black;
    border-radius:28px;
    box-shadow:1px 1px black;
    margin:0px 7px;
    }

.leg-transition:hover{
    scale:1.05;
    background-image:linear-gradient(2deg, $color-transition-outer-darker 14%, $color-transition-outer-dark 30%, $color-transition-outer 50%, $color-transition-outer 100%);
    background-color:transparent;
    border:1px solid black;
    }

.leg-icon-wrapper-42{
       height:42px;
       width: 42px;
    }

.leg-button-wrapper{
    background-color:$color-gradient-outer;
    width:25%;
    flex-grow:0;
    }

.leg-button-wrapper.disabled{
    background-color:gray;
    }

.leg-button-wrapper.selected{
    background-color:$color-button-selected;
        border: 2px solid black;
    }

.leg-button-wrapper.leg-rounded-container-outer.selected{
    box-shadow: 1px 1px black;
    }

.leg-button-wrapper > input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    }

.leg-sidebar .leg-link{
    color:$color-text-bright;
    }

.leg-button-wrapper > a{
    margin-bottom:auto;
    margin-top:auto;
    }

.leg-link{
    text-decoration:none;
    color:$color-text;
    text-align:center;
    width:100%;

    }

.leg-link-bright{
    text-decoration:none;
        color:$color-text-bright;
        text-align:center;
        width:100%
    }

.leg-headline{
    text-decoration-line:underline;
    }

.leg-rounded-center-text{
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    }

.leg-progress-bar {
  position: relative;
  flex-grow:1;
  min-width: 100px;
  height: 25px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  color:black;
}

.leg-center-text-100{
    text-align:center;
    width:100%;
    }

.leg-progress-fill{
    height: 100%;
    transition: width 0.3s ease;
    position:absolute;
    }

.leg-w33{
    width:33% !important;
    }

.leg-w50{
    width:50% !important;
    }

.leg-w100{
    width:100% !important;
    }

.health {
  background-color: red;
}

.experience {
  background-color: red;
}

.energy {
  background-color: yellow;
}

.stamina {
  background-color: green;
}

.mana {
  background-color: blue;
}

.rage {
  background-color: darkred;
}

input, select, textarea {
  &:-webkit-autofill, {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $color-text;
    transition: background-color 5000s ease-in-out 0s;
  }
}

input, select, textarea {
  &:-moz-autofill, {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $color-text;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.leg-center-text{
    text-align: center;
    }

.leg-text-danger{
    color: $color-danger;
    }