<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/head::head(${Title},~{::custom})}"/>
<body class="main-wrapper-fullscreen" hx-boost="true">
<div class="main-content-wrapper" style="background:black">
    <header th:unless="${layoutDto.hideHeader}" class="">
        <div class="leg-flex-container">
            <th:block
                    th:replace="~{fragments/elements/progressbar::progressBar(${layoutDto.healthBar})}"/>
            <th:block
                    th:replace="~{fragments/elements/progressbar::progressBar(${layoutDto.energyBar})}"/>
            <div class="leg-gradient leg-rounded-container-outer">
                <div class="leg-rounded-container-inner">
                    <p th:text="#{header.level(${layoutDto.level})}" class="leg-text-center"></p>
                </div>
            </div>
            <th:block
                    th:replace="~{fragments/elements/progressbar::progressBar(${layoutDto.experienceBar})}"/>
            <div class="leg-gradient leg-rounded-container-outer">
                <div class="leg-rounded-container-inner">
                    <p th:text="#{header.gold(${layoutDto.gold})}" class="leg-text-center"></p>
                </div>
            </div>

        </div>
        <div class="leg-flex-container" th:if="${layoutDto.messages.size} > 0 ">
            <div th:each="message: ${layoutDto.messages}">
                <p th:text="${message}"></p>
            </div>
        </div>
    </header>
    <div class="leg-main-sidebar-container">
        <aside>
            <div class="leg-flex-container">
                <a th:href="@{user}" class="leg-link" th:text="#{sidebar.user}"></a>
                <a th:href="@{administration/character}" class="leg-link"
                   th:text="#{sidebar.characterAdministration}"></a>
                <a th:href="@{administration/items}" class="leg-link" th:text="#{sidebar.items}"></a>
            </div>
            <div>
                <a th:href="@{/home}" class="leg-link" th:text="#{sidebar.home}"></a>
                <a th:href="@{/character}" class="leg-link" th:text="#{sidebar.character}"></a>
            </div>
        </aside>
        <main layout:fragment="content">Nothing to see here</main>
        <footer class="leg-flex-container" style="min-width:30px">
            <p>Hier könnte ihr Footer stehen</p>
        </footer>
    </div>
</div>
</body>
</html>
