<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="progressBar(object)" th:object="${object}" class="leg-item">
    <label th:text="*{text}" class="leg-center-text-100 leg-headline"></label>
    <div class="leg-progress-bar">
        <div class="leg-progress-fill"
             th:classappend="*{cssClass}"
             th:style="'width:' + *{percent} + ';'"></div>
        <p th:text="*{value} + '/' + *{max}" class="leg-center-text-100" style="position:absolute"></p>
    </div>
</div>
</html>