<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:fragment="head(titleName,custom)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}" defer></script>
    <title th:text=${titleName}></title>
    <th:block th:repalce="${custom}"/>
</head>
</html>

<!-- Use like this for own Custom Header additions when implementing the Fragment
<html ... >
<th:block th:replace="~{fragments/head::head('SiteTitle',~{::custom})}">

</th:block>
</body>
  <th:block th:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/home.js}"></script>
  </th:block>
</html>
-->