body, input {
  color: white;
  font-family: "Lora", serif;
  font-size: 17px;
}

.main-wrapper-fullscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image {
  background-repeat: no-repeat, no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.content-wrapper {
  background-color: transparent;
  min-width: 720px;
  max-width: 960px;
  width: 100%;
  margin: 1%;
}

.content-wrapper-wide {
  background-color: transparent;
  min-width: 1200px;
  max-width: 1600px;
  width: 100%;
  margin: 1%;
}

.leg-flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.leg-flex-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
}

.leg-flex-row > p {
  text-align: center;
}

.leg-rounded-container-outer {
  min-height: 42px;
  flex-grow: 1;
  display: flex;
  align-content: center;
  flex-direction: column;
  box-shadow: 4px 2px black;
}

.leg-title-container {
  border-radius: 28px;
  border-bottom-right-radius: 0px;
  display: flex;
}

.leg-title-container-image {
  width: 50px;
  height: 50px;
  border-radius: 28px;
  border-bottom-left-radius: 0px;
}

.leg-title-container > p {
  font-size: 32px;
  font-family: "Great Vibes";
  margin: auto;
}

.leg-rounded-container-inner {
  display: flex;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.leg-rounded-border {
  border: 1px solid black;
  border-radius: 12px;
}

.leg-item {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0px 5px;
}

.leg-gradient {
  background-image: radial-gradient(transparent 0%, transparent 60%, #2ecc71 68%, rgb(40.3696, 179.0304, 99.1688) 70%, rgb(15, 15, 15) 100%);
}

.leg-gradient-danger {
  background-image: radial-gradient(transparent 0%, transparent 60%, #e81414 68%, rgb(179, 40, 40) 70%, rgb(13, 7, 7) 100%);
}

.leg-rounded-border-input {
  border: none;
  background: transparent;
  flex: 1 1 auto;
}

.leg-rounded-border-input:hover {
  border: 1px solid black;
}

.leg-rounded-border-label {
  flex: 0 0 auto;
}

.leg-transition {
  transition: 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

.leg-sidebar {
  display: flex;
  max-width: 240px;
  min-width: 180px;
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid black;
  height: 94%;
  padding: 10px 4px;
  margin: auto;
  box-shadow: 4px 2px black;
  border-radius: 28px;
}

.leg-footer {
  display: flex;
  min-height: 40px;
  width: 100%;
  border-top: 0px;
  padding: 10px 4px;
}

.leg-content {
  flex: 1 1 auto;
  display: flex;
  border: 1px solid black;
  border-radius: 28px;
  box-shadow: 4px 2px black;
  margin: 0px 7px;
}

.leg-transition:hover {
  scale: 1.05;
  background-image: linear-gradient(2deg, rgb(34.7392, 154.0608, 85.3376) 14%, rgb(40.3696, 179.0304, 99.1688) 30%, #2ecc71 50%, #2ecc71 100%);
  background-color: transparent;
  border: 1px solid black;
}

.leg-button-wrapper {
  background-color: #2ecc71;
  width: 25%;
  flex-grow: 0;
}

.leg-button-wrapper > input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.leg-button-wrapper > a {
  margin-bottom: auto;
  margin-top: auto;
}

.leg-link {
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
}

.leg-headline {
  text-decoration-line: underline;
}

.leg-rounded-center-text {
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: center;
}

.leg-progress-bar {
  position: relative;
  flex-grow: 1;
  min-width: 100px;
  height: 25px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  color: black;
}

.leg-center-text-100 {
  text-align: center;
  width: 100%;
}

.leg-progress-fill {
  height: 100%;
  transition: width 0.3s ease;
  position: absolute;
}

.health {
  background-color: red;
}

.experience {
  background-color: red;
}

.energy {
  background-color: yellow;
}

.stamina {
  background-color: green;
}

.mana {
  background-color: blue;
}

.rage {
  background-color: darkred;
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill, select:-moz-autofill, textarea:-moz-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.leg-center-text {
  text-align: center;
}

.leg-text-danger {
  color: #e81414;
}

/*# sourceMappingURL=main.css.map */
